<div class="row">
    <div class="col1">
        <h1>About us</h1>
        <p>We are group of people, who are having determination towards sustainability in every part of life by social,
            economical and environmental. Our ultimate motto will be towards Environmental Sustainability.</p>
    </div>
    <div class="col2">
        <h1>Services</h1>

        <p>Employment </p>
        <p> Environmental</p>
        <p>Community</p>

    </div>
    <div class="col3">
        <h1>Contact Us</h1>
        <span class="mail">
            <mat-icon>mail</mat-icon>
            <a href="mailto:
            admin@sustainat.com">
                <p>admin@sustainat.com</p>
            </a>
        </span>

        <span>

            <address>
                <mat-icon>home</mat-icon>4 Castle Road, North Finchley, Barnet, United Kingdom
            </address>
        </span>


        <span>
            <mat-icon>call</mat-icon>
            <span>
                <p>+447407177428</p>
            </span>

        </span>


    </div>
    <div class="col4">
        <h1>Teams</h1>
        <h3>Sumanth </h3>
        <h3>Abhithej </h3>
    </div>
</div>