<nav>
    <label class="logo">Sustainat</label>
    <button class="menuicon"  [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <ul >
        <li><a routerLink="/content/home" routerLinkActive="true">Home</a></li>
        <li> <a routerLink="content/services">Employment Services</a></li>
        <li> <a routerLink="content/products">Sustainable Products</a></li>
        <li> <a routerLink="content/contact">contact</a></li>
        <li> <a routerLink="content/sustainability">sustain@bility</a></li>
        <li> <a routerLink="content/about">About</a></li>
        
    </ul>
    
<mat-menu #menu="matMenu" class="menu">
  <button mat-menu-item routerLink="/content/home">Home</button>
  <button mat-menu-item routerLink="content/services">Employment Services</button>
  <button mat-menu-item routerLink="content/products">Sustainable Products</button>
  <button mat-menu-item routerLink="content/contact">Contact</button>
  <button mat-menu-item routerLink="content/sustainability">Sustain@bility</button>
  <button mat-menu-item routerLink="content/about">About</button>
</mat-menu>



</nav>