<div class="r1">
    <h1>What We Do ?</h1>
    <p>we prioritize sustainable motivation — which means building a
        rhythm that works for you — we can remain motivated over the course of decades, rather than pushing ourselves
        hard for a few years in our twenties</p>
</div>
<div class="r2">
    <div class="r2r1">
        <h1>Sustainable Development Info</h1>
    </div>
    <div class="r2r2">
        <div class="r2r2c1">
            <p>Environmental Protection</p>
            <p>Social Protection</p>
            <p>Economical Protection</p>
        </div>
        <div class="r2r2c2">
            <p>Environmental Balance</p>
            <p>Social Balance</p>
            <p>Economical Balance</p>
        </div>
        <div class="r2r2c3">
            <p>Environmental Education</p>
            <p>Social Education</p>
            <p>Economical Education</p>
        </div>
    </div>
</div>
<div class="r3">
    <div class="r3r1">
        <H1>Our Team</H1>
    </div>
    <div class="r3r2">
        <div class="r3r1c1">
            <img src="../assets/images/home1.jpg" alt="">
            <h2>Sumanth Moparthi</h2>
        </div>
        <div class="r3r1c2">
            <img src="../assets/images/home1.jpg" alt="">
            <h2>Abhitej Thummalapally</h2>
        </div>
    </div>
</div>