.r1{
    text-align: center;
padding: 3rem;
}
.r1 img{
    width:30%;
}

.r2{
    text-align: center;
    padding: 3rem;
}
.r2r1{
    display: flex;
    align-items:center;
    justify-content:center;
    padding:1rem;
}
.r2r1c1,.r2r1c2{
    padding: 1rem;
}

@media screen and (max-width:470px) {
    .r1 img{
        width:50%;
    }
    .r2r1{
        display: block;
    }
}