<div class="r1">
    <h1>Motives of Sustainat</h1>
    <img src="../assets/images/Sustainable-development.jpg" alt="" srcset="">
</div>
<div class="r2">
    <h1>Mission & Vision</h1>
    <div class="r2r1">
        <div class="r2r1c1">
            <h1>Goals</h1>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                of letters, as opposed</p>
        </div>
        <div class="r2r1c2">
            <h1>Enviroment</h1>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                of letters, as opposed</p>
        </div>
    </div>
</div>