
<body>
    <div class="container1">
        <div class="row row1">
            <div class="rc11">
                <h2>We are the Saviours of our Planet</h2>
    
                <h3>Our coverage is best in Industry</h3>
                <h3>We are commited to Protect and Enhance our Environment</h3>
                <button>Contact Us</button>
            </div>
            <div class="rc12">
                <img src="../assets/images/globe_PNG.png" alt="globe" >  
            
    
            </div>
        </div>
        <div class="row2">
            <div class="rc22">
                <h1>
                    Management Agency
                </h1>
                <p>
                    It is a Not only an environmental agency, It is more about the Sustainable Development, we are trying to create Employment opportunity to the person to make Economical Sustainability, and we are trying to create Community to become socially Sustainable, and we are creating awareness to the people about our environment and nature to achieve environmental sustainability. By keeping all this things into head "Sustainat" is started for sustainable development to make our world as better place to live with "Selflessness".
                </p>
            </div>
            <div class="rc21 ">
                <div class="card card-1">
                    <h3>Environmental Chemistry</h3>
                </div>
                <div class="card card-2">
                    <h3>Environmental Protection</h3>
                </div>
                <div class="card card-3">
                    <h3>Environmental Enforcement</h3>
                </div>
            </div>
            
        </div>
    </div>
    <div class="container2">
        <div class="row3">
    
            <h1>STOP ENVIRONMENTAL POLLUTION</h1>
        </div>
        
        <br>
        <h1 class="title">Recent News</h1>
        <div class="row4">
        
            <div>
                <img src="../assets/images/post1.jpg" alt="" >
                <h3>Eco Conference</h3>
            </div>
            <div>
                <img src="../assets/images/post2.jpg" alt="" >
            <h3>Analysis of Ecological</h3>
            </div>
           
            <div>
                <img src="../assets/images/post3.jpg" alt="" >
                <h3>Ecological Study</h3>
            </div>
        </div>
        <div class="information">
            <div class="card1 info1">
                <h2>Resources</h2>
                <p>We have good resources in terms of human resources, machinery, land and wide opportunities from all Countries around the world and also, team of researchers, who do there research on sustainable development for Sustainat</p>
            </div>
            <div class="card1 info2">
                <h2>Programs</h2>
                <p>We implement unique programs by plantation by each and every person who knows to this world as a human being, also growing the plants which will give fruits by that, humans also can enjoy the food and nature can be kept balanced with this Program</p>
            </div>
            <div class="card1 info3">
                <h2>Information</h2>
                <h5>All the information is put through a proper way where people can get knowledge on Sustainable Development and to get to know factual information about the Sustainability</h5>
            </div>
        </div>
    </div>
    </body>
    