.r2{
    text-align: center;
    padding: 3rem;
}
.r2r1{
    display: flex;
    align-items:center;
    justify-content:center;
    padding:1rem;
}
.r2r1c1,.r2r1c2{
    padding: 1rem;
}
.r3{
    
    text-align:center;
    padding: 1rem;
}
.r3 img{
    width:50%;
}

.card{
    box-shadow: 3px -1px 24px 3px rgb(174, 162, 162);
    
    
}
.r3r1{
padding:3rem;
}
.r4
{
    padding:1rem;
    text-align:center;
}
form{
    padding:3rem;
}

@media screen and (max-width:470px) {
   
    .r2r1{
        display: block;
    }
}