<div class="r2">
    <h1>Mission & Vision</h1>
    <div class="r2r1">
        <div class="r2r1c1">
            <h1>Goals</h1>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                of letters, as opposed</p>
        </div>
        <div class="r2r1c2">
            <h1>Enviroment</h1>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                of letters, as opposed</p>
        </div>
    </div>
</div>
<div class="r3">
    <div class="r3r1 card">
    <h1>Sustainat Employment Service</h1>
    <img src="../assets/images/employees-885338-1024x683.jpg" alt="" srcset="">
    <h2>Employees for Employers</h2>
    </div>
    
</div>

<div class="r4">
    <div class="r4r1 card">
        <h1>Hiring</h1>
        <form>
            <label for="fname">First Name</label> <br>
            <input type="text" id="fname" name="fname" ><br>
            <label for="lname">Last Name</label> <br>
            <input type="text" id="lname" name="lname" ><br>
            <label for="mail">Email</label> <br>
            <input type="email" id="mail" name="mail" ><br>
            <label for="mobile">Phone</label> <br>
            <input type="tel" id="mobile" name="mobile" ><br>
            <label for="skill">Skills</label> <br>
            <input type="text" id="skill" name="message" ><br>
            <label for="Experience">Related Experience</label> <br>
            <input type="text" id="Experience" name="message" ><br>
            <button type="submit">Submit</button>
        </form>
    </div>
   
</div>